<!-- Questi div sono tutti incolonnati per flex-column del componente left -->
<div class="user-profile d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img [src]="'../../../assets/img/avatar' + user.avatar + '.jpeg'" [alt]="user.name">
    <span class="">{{user.name}}</span>
  </div>
  <div class="icons-container d-flex justify-content-between">
    <i class="fa-solid fa-circle-notch"></i>
    <i class="fa-solid fa-message"></i>
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </div>
</div>

<div class="notifications d-flex align-items-center">
  <!-- Bell-container -->
  <div class="bell-container d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-bell-slash"></i>
  </div>
  <div class="on-off-notifications d-flex flex-column">
    <a>Ricevi notifiche di nuovi messaggi</a>
    <span>Attiva notifiche desktop</span>
  </div>
</div>

<!-- SEARCH PROFILES -->
<div class="search-start-new-chat">
  <input type="text" placeholder="Cerca o inizia una nuova chat" [(ngModel)]="serachProfiles" (keyup)="search()">
  <i class="fa-solid fa-magnifying-glass"></i>
</div>


<div class="profiles d-flex flex-column" >

  <div (click)="emitProfile(i)" *ngFor="let profile of data, index as i">

    <div (click)="select(i)" [ngClass]="i == selectedIndex ? 'active' : ''" class="profile d-flex justify-content-between align-items-center" *ngIf="profile.visible">

      <div class="d-flex align-items-center">
        <img [src]="'../../../assets/img/avatar' + profile.avatar + '.jpeg'">
        <!-- Container -> Nome + Ultimo messaggio ricevuto -->
        <div class="d-flex flex-column">
          <span>{{profile.name}}</span>
          <span class="last-received">Ultimo messaggio ricevuto</span>
        </div>
      </div>

      <div class="hour-last-msg-received">
        <span>{{getHours(profile.messages)}}</span>
      </div>
    </div>


  </div>
</div>
