.user-profile {
  padding: 10px;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  background-color: antiquewhite;
}

.notifications {
  padding: 10px;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  background-color: antiquewhite;
}

.search-start-new-chat {
  padding: 10px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  background-color: antiquewhite;
}

.profiles {
  height: 100%;
  .profile {
    padding: 10px;
    width: 100%;
    height: calc(100% / 8);
    border-bottom: 1px solid black;
  }
}






