.cd-container {
  margin: auto;
  width: 85%;
  min-width: 1150px;
  height: 95vh;
  border: 1px solid lightgray;
  z-index: 999;

  .left-column{
    width: 30%;
    height: 100%;
    border: 1px solid black;
  }

  .right-column{
    width: 70%;
    height: 100%;
    border: 1px solid black;
  }
}
