<div class="user-profile d-flex justify-content-between align-items-center">
  <div>Img</div>
  <div class="icons-container">
    <!-- search -->
    <i class="fa-solid fa-magnifying-glass"></i>
    <!-- paper-clip -->
    <i class="fa-solid fa-paperclip"></i>
    <!-- ellipsis -->
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </div>
</div>

<div class="chat">

</div>

<div class="container-input-msg d-flex justify-content-between align-items-center">
  <div class="smile d-flex justify-content-center align-items-center">
    <i class="fa-regular fa-face-smile"></i>
  </div>
  <input type="text" placeholder="Scrivi un messaggio">
  <div class="mic d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-microphone"></i>
  </div>
</div>
